form {
  margin: 0;
}

.widget--filter-label {
  width: 100px;
}

.widget--filter-label::after {
  content: ":";
}

.widget--filter-input {
  width: 160px;
  border: 1px solid #000;
  height: 24px;
  border-top-left-radius: 6px;
  padding: 2px 4px;
  position: relative;
  z-index: 1;
}

.widget--filter-and-options-container {
  position: relative;
}

.widget--filter-and-options-container:not(.widget--open) .widget--filter-input {
  border-bottom-left-radius: 6px;
}

.widget--filter-input:hover {
  outline: 1px solid red;
}

.widget--filter-input:focus {
  background-color: rgb(255, 235, 235);
}

.widget--filter-input:focus,
.widget--filter-and-options-container:focus-within .widget--filter-input {
  outline: 1px solid red;
}

.widget--unselect-all-button {
  position: absolute;
  border: 0;
  background-color: transparent;
  right: 34px;
  margin-top: 4px;
  z-index: 2;
  padding: 0;
  border-radius: 8px;
}

.widget--x-selected-text {
  font-size: 75%;
  font-weight: bold;
  padding: 0 2px 0 4px
}

.widget--unselect-all-button img {
  vertical-align: middle;
}

.widget--unselect-all-button:focus,
.widget--unselect-all-button:hover {
  outline: 1px solid red;
  cursor: pointer;
  background-color: rgb(255, 212, 212);
}

.widget--toggle-options-button {
  height: 24px;
  border: 1px solid #000;
  margin-left: -1px;
  vertical-align: bottom; /* Not totally sure what value is best here */
  border-top-right-radius: 6px;
}

.widget--selected-options-button:focus {
  outline: none;
}

.widget--toggle-options-button:hover,
.widget--toggle-options-button:focus {
  cursor: pointer;
  outline: none;
}

.widget--toggle-options-button img,
.widget--selected-options-button img {
  border-radius: 8px;
}

.widget--toggle-options-button:hover img,
.widget--toggle-options-button:focus img,
.widget--selected-options-button:hover img,
.widget--selected-options-button:focus img {
  outline: 1px solid red;
  background-color: rgb(255, 212, 212);
}

.widget--filter-and-options-container:not(.widget--open) .widget--toggle-options-button {
  border-bottom-right-radius: 6px;
}

.widget--filter-and-options-container:not(.widget--open) .widget--toggle-options-button img {
  transform: rotate(180deg);
}

.widget--selected-options-container {
  margin-top: 1em;
  border: 0;
  padding: 0;
}

.widget--selected-options-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: transparent; /* To hide the bullet point numbers (1., 2., etc.) visually, but let screen readers announce them. */
}

.widget--selected-options-list li {
  float: left; /* TODO: Rather use flexbox here? */
  margin-right: 0.5em;
}

.widget--selected-options-button {
  border-radius: 6px;
  border: 1px solid #000;
  padding: 2px 4px;
}

.widget--selected-options-button img {
  vertical-align: bottom;
}

.widget--selected-options-button:hover {
  cursor: pointer;
}

.widget--selected-options-button img {
  vertical-align: bottom;
}

.widget--available-options-container {
  margin: 0;
  border: 1px solid #000;
  padding: 0;
  position: absolute;
  margin-top: -1px;
  background-color: #fff;
  width: 189px;
  box-sizing: border-box;
  box-shadow: 0px 0px 24px #0000007a;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}

.widget--available-options-list {
  color: transparent; /* To hide the bullet point numbers (1., 2., etc.) visually, but let screen readers announce them. */
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget--available-options-list label {
  color: #000;
  padding: 2 4px;
  width: 100%;
  box-sizing: border-box;
  border-left: 4px solid transparent; /* For high contrast mode */
}

.widget--available-options-list input:focus {
  outline: none;
}

.widget--available-options-list input:hover {
  cursor: pointer;
}

.widget--available-options-list label:focus-within,
.widget--available-options-list label:hover {
  background-color: rgb(255, 167, 167);
  cursor: pointer;
  border-left-color: #000;
}

.widget--available-options-list input:checked + span {
  font-weight: bold;
}

.widget--available-options-list input:checked + span .check {
  content: " ";
  display: inline-block;
  margin-left: 0.25em;
  background-color: red;
  width: 14px;
  height: 14px;
  background: url(check.svg);
}

.widget--available-options-legend {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  margin: 0 -1px;
  border-bottom: 0;
  width: 100%;
  padding: 4px 0;
  font-size: 0.75em;
  font-style: italic;
  text-align: center;
}

.event-logger {
  position: fixed;
  bottom: 1em;
}
